{% extends "layout.html.twig" %}

{% block title %}
    Connexion
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8 col-sm-12">

            {% for message in app.flashes('notice') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% if error %}
                <div class="alert alert-danger">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    {{ error.messageKey|trans(error.messageData, 'security')| replace({"Invalid credentials." : "Identifiant et/ou mot de passe incorrect."}) }}
                </div>
            {% endif %}

            <h3>Connexion</h3>
            {{ form( form, { attr: { novalidate: 'novalidate' } } ) }}
        </div>
        {{ render(controller('App\\Controller\\DefaultController::sidebar')) }}
    </div>

{% endblock %}

